<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088833767505-t8khk87k5sr3plut5fgrv3lv3eepkk5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088833767505-t8khk87k5sr3plut5fgrv3lv3eepkk5e</string>
	<key>API_KEY</key>
	<string>AIzaSyANumZhR1TXTkp5n6aqlG7-hsWmE-5dzoI</string>
	<key>GCM_SENDER_ID</key>
	<string>1088833767505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ali.practiceSnapkit</string>
	<key>PROJECT_ID</key>
	<string>practise-d9a8b</string>
	<key>STORAGE_BUCKET</key>
	<string>practise-d9a8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088833767505:ios:136531be4da1f482c55070</string>
</dict>
</plist>